VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=mh-agenda-campanha-2026.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mh-agenda-campanha-2026
VITE_FIREBASE_STORAGE_BUCKET=mh-agenda-campanha-2026.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=330300907281
VITE_FIREBASE_APP_ID=1:330300907281:web:839b1e80cc3d53c8e7f6b0
